---
import Map from "./Map.astro"
---

<footer class=" w-full">
  <Map/>
  <div class=" flex items-center justify-center h-8 bg-primary-black">
    <small class="text-primary-white/60 text-xs font-medium">Diseñado por Uncoder.com.ar</small>
  </div>
</footer>
