---

---

<form action="" class=" flex flex-col gap-10 py-10 px-5 bg-gradient-to-tr from-initial-gradient/30 to-final-gradient/50 font-normal text-primary-white">
  <h3 class="text-xl ">Ponete en contacto para coordinar un turno</h3>
  <div class=" flex items-center gap-3 text-xs border-b-2 border-light-blue">
    <label for="name" class="flex gap-1">Nombre <span aria-label="requerido">*</span></label>
    <input class=" w-full p-3 focus:outline-none  transition-colors text-primary-white placeholder:text-primary-white/50 ransition-colors" 
      type="text" 
      id="name" 
      name="name"       
      placeholder="Ingresá tu nombre"
      required
      minlength="2"
      maxlength="100"
      autocomplete="name"/>
  </div>
  <div class=" flex items-center gap-3 text-xs border-b-2 border-light-blue">
    <label for="email" class="flex gap-1">Email<span aria-label="requerido">*</span></label>
    <input class=" w-full p-3 text-primary-white placeholder:text-primary-white/50 focus:outline-none focus:border-primary-white transition-colors" 
      type="email" 
      id="email" 
      name="email"       
      placeholder="tuemail@ejemplo.com"
      required
      autocomplete="email"/>
  </div>
  <div class=" flex items-center gap-3 text-xs border-b-2 border-light-blue">
    <label for="telephone" class="flex gap-1">Telefono<span aria-label="requerido">*</span></label>
    <input class=" w-full p-3 text-primary-white placeholder:text-primary-white/50 focus:outline-none focus:border-primary-white transition-colors" 
      type="tel" 
      id="telephone" 
      name="telephone" 
      placeholder="351 123 4567"
      required
      pattern="[0-9\s\-\+\(\)]+"
      autocomplete="tel"/>
  </div>
  <div class=" flex items-center gap-3 text-xs border-b-2 border-light-blue">
    <label for="problem" class="flex gap-1">Problema<span aria-label="requerido">*</span></label>
    <textarea 
      id="message" 
      name="message"
      rows="2"
      class="w-full p-3 bg-transparent text-primary-white placeholder:text-primary-white/50 focus:outline-none focus:border-primary-white transition-colors resize-none"
      placeholder="Contanos el motivo de tu consulta o el problema que tenés"
      required
      minlength="10"
      maxlength="500"
    ></textarea>
  </div>

  <button class=" bg-primary-white text-black rounded-lg h-10 cursor-pointer font-normal hover:bg-primary-white/90 hover:scale-[1.02] active:scale-[0.98] transition-all duration-200 disabled:opacity-50 disabled:cursor-not-allowed" type="submit">Enviar</button>
</form>